

body{
    background-color:gainsboro;
    font-family: sans-serif;
   
}

.sample{
    width: 600px;
    margin: auto;
}

blockquote{
    border: 1px solid white;
    height: 60px;
    text-align: center;
    margin-left: 0px;
}


/* .sample{
    background-color: greenyellow;
    margin: auto;
} */

/* .comm-div{
    width: 200px;
    height: 50px;
    border: 2ps;
} */

